body{
    background-color: rgb(141, 135, 135);
}
.Aldi{
    color: rgb(77, 0, 0)  ;
}
.Mk{
    color: rgb(65, 27, 27);
}
.Ald1k{
    width: 400px;
    height: 200px;    
}
.Ms{
    color: rgb(62, 64, 136);
}